body {
  background-color: black;
}

img {
  max-width: 100%;
  height: auto;
}

#home {
  color: white;
  margin: 1.5rem 2rem 0rem 2rem;
  font-size: 19px;
}

#mars-photo {
  border: 2rem;
  border-radius: 3%;
  width: 46%;
  height: 46%;
}

.component {
  color: white;
  margin: 2rem 2rem 0rem 0rem;
  font-size: 19px;
}

.image-container {
  font-size: 10px;
  position: relative;
  color: white;
}

.top-left {
  position: absolute;
  top: 53px;
  left: 25px;
}

.asteroid {
  width: 23rem;
  height: 23rem;
  margin: 2rem 1.5rem;
  background-size: auto;
  color: white;
}

.asteroid-text {
  color: black;
  opacity: 0.8;
}

.navigation-bar {
  font-size: 25px;
}

.date-selector {
  margin-top: 1rem;
}